@model List<Product>
<!-- partial -->
<div class="main-panel">
    <div width="100%" class="content-wrapper">


        <div class="row ">
            <div class="col-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Order Status</h4>
                        <div class="table-responsive">
                            <table width="100%" class="table">
                                <thead>
                                    <tr>

                                        <th> # </th>
                                        <th>  Img </th>
                                        <th> Name </th>
                                        <th> Price </th>
                                        <th> Description</th>
                                        <th> Actions </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (Product prop in Model)
                                    {

                                        <tr>
                                            <td> @prop.Id </td>
                                            <td> <img src="~/assets/uploadImages/@prop.ImgUrl" class="img-fluid product-image" alt=""> </td>
                                            <td> @prop.Name </td>
                                            <td> @prop.Price </td>
                                            <td> @prop.Description </td>
                                            <td>
                                                <a asp-area="Admin" asp-controller="Product" asp-action="Delete" asp-route-id="@prop.Id" class="btn btn-danger">Delete</a>
                                                <a asp-area ="Admin" asp-controller="Product" asp-action="Update" asp-route-id="@prop.Id" class="btn btn-warning">Update</a>
                                                <a asp-area="Admin" asp-controller="Product" asp-action="Info" asp-route-id="@prop.Id" class="btn btn-info">Info</a>

                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<!-- content-wrapper ends -->
<!-- partial:partials/_footer.html -->
