@model Car

<!-- Navbar End -->
<!-- Sales Chart End -->
<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-secondary text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Recent Salse</h6>
            <a href="">Show All</a>
        </div>
        <div class="table-responsive">
            <table class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-white">

                        <th scope="col">#</th>
                        <th scope="col">Img</th>
                        <th scope="col">Model</th>
                        <th scope="col">Brand</th>
                        <th scope="col">Automatic</th>
                        <th scope="col">Price</th>
                        <th scope="col">Descripction</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>

                        <td>@Model.Id</td>
                        <td><img width="90px" height="80px" src="~/assets/uploadImages/@Model.ImgUrl" alt="cars"></td>
                        <td>@Model.Model</td>
                        <td>@Model.Brand</td>
                        <td>@Model.SpeedBoxCategory</td>
                        <td>@Model.Price</td>
                        <td>@Model.Description</td>
                        <td>
                            <a asp-area="Admin" asp-controller="Car" asp-action="Delete" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
                            <a asp-area="Admin" asp-controller="Car" asp-action="Update" asp-route-id="@Model.Id" class="btn btn-warning">Update</a>

                        </td>
                    </tr>



                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Recent Sales End -->
<!-- Widgets Start -->
<!-- Footer Start -->
